
.map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.checkers-bg{
   background:url(
       data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2NkYGD4z4AJGNGFQAJDQSEWv2C6G8N3UF0YHhxAhQBLjgoGdiBmhAAAAABJRU5ErkJggg==
   ) repeat #fff;
}

.note-icon {
    border: 1px solid blue;
}

#info {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 200px;
	max-width: 600px;
	margin-left: 10px;
	margin-top: 100px;
	padding: 6px 8px;

	border-radius: 5px;
	font: 14px/16px Arial, Helvetica, sans-serif;
}
#info h4:first-child {
	margin: 0 0 5px;
}
#info h4 {
	margin: 5px 0 5px;
}
#info h4 code {
	font-weight: normal;
}
#info .provider-names {
	padding-bottom: 5px;
	display: block;
	padding-left: 15px;
}
#info pre {
	margin: 0;
}
#info pre code {
	font-size: 10px;
	overflow-x: auto;
}

#info label {
    display: inline-block;
}

.ind1 {
    margin-left: 1em;
}